/* common sheared style  */
* {
    margin: 0;
    padding: 0;
}

section {
    padding: 30px 100px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header section start  */
.header-section {
    height: 90vh;
    background-image: url('./images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-text-box {
    width: 40%;
}

.header-text-box>h1 {
    color: #151414;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-text-box>p {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0px 32px;
}

.contact-btn {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    background: #F15B22;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;

}

.btn-box {
    text-align: end;
}

/* header section end  */

/* main section start  */
/* previous section start  */
.previous-year-section {
    display: flex;
    background: #FFF;
    justify-content: space-between;
    height: 100vh;
}

.previous-photo-box {
    width: 50%;
    margin-left: 10%;

}

.previous-content-box {
    width: 30%;
    align-self: center;
    padding-right: 10%;

}

.previous-content-box>h1 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.previous-content-box>p {
    color: #444343;
    font-size: 16px;
    margin: 20px 0px 16px;
    line-height: 26px;
}

.content-check-box>p {
    color:#444343;
    font-size: 16px;
    line-height: 26px;
    margin: 8px 0px;
}
.content-check-box>p> i {
    color:#16D887;
    margin-right: 5px;
}

/* previous section end  */
/* main section end  */